$mainColor: rgb(184, 184, 184);

#slider {
  position: relative;
  z-index: 402;
  top: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  
  .slider-wrap {
    position: relative;
    display: block;
    background-color: #000;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 1px 10px 10px #333;

    .base-img {
      display: flex;
      overflow: hidden;
      user-select: none;
    }

    .base-img-wrap {
      display: block;
      position: absolute;
      background-color: black;
      border-radius: inherit;
      overflow: hidden;
    }

    .after-img-wrap {
      position: absolute;
      left: 0;
      top: 0;
      width: 50%;
      background-color: black;
      overflow: hidden;
      border-radius: inherit;
    }

    .after-img {
      display: flex;
      user-select: none;
    }

    
    &:hover {
      cursor: default;
    }
  }
  
  .slider-btn {
    display: block;
    width: 0.5px;
    height: 100%;
    background: $mainColor;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    box-shadow: 1px 0 3px #222;
    cursor: ew-resize;

    &::after {
      width: 8px;
      height: 65px;
      background-color: $mainColor;
      box-shadow: 1px 0 5px #000;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      content: '';
      color: white;
      font-size: 25px;
      font-weight: 900;
      text-align: center;
      line-height: 50px;
      border-radius: 5%;
      transition: all 0.3s ease;
    }
    &:hover::after {
      width: 9px;
      height: 72px;
      font-size: 20px;
      line-height: 40px;
    }
  }
}

.close-slider-btn {
  position: absolute;
  right: 16px;
  top: 16px;
  width: 24px;
  height: 24px;
  opacity: 0.3;
}
.close-slider-btn:hover {
  opacity: 1;
  transform: scale(1.1);
  cursor: pointer;
  transition: transform linear .1s;
}
.close-slider-btn:before, .close-slider-btn:after {
  position: absolute;
  left: 12px;
  content: ' ';
  height: 24px;
  width: 2px;
  background-color: rgb(214, 214, 214);
}
.close-slider-btn:before {
  transform: rotate(45deg);
}
.close-slider-btn:after {
  transform: rotate(-45deg);
}
